.App {
  text-align: center;
}
.App {
  max-width: 450px;
  margin: 30px auto;
  border-radius: 17px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 30px;
  color: white;
  background-color: rgb(227, 187, 136);
}

.App img {
  max-height: 60px;
  margin: 20px 0 0 0;
}

.App h1 {
  font-size: 64px;
}

.App footer {
  font-size: 10px;
}
.App footer a {
  color: white;
}

.App hr {
  max-width: 50px;
  text-align: center;
  margin: 0 auto;
}
