.SearchEngine .current-weather {
  background-size: cover;
  width: 100%;
  padding: 30px;
  border-radius: 17px;
}

.SearchEngine .search-window,
.SearchEngine .submit-button {
  border-radius: 10px;
  padding: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: none;
  color: rgb(228, 188, 139);
}

.SearchEngine .search-window {
  margin-right: 15px;
}
